---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v2.9/search?access_token=EAACEdEose0cBAG4ion65PIkUZCXy6ZC0mDkIQrFmbPEv22o52kLC4tCfDYelph2RljhIiFpzKoC6GLInBuAHUDpOnQGpssQKAZBIU0ZBpTCAV2nUi9kRHfnAuWRhZBff7ujCLzg7hDbsZBngKFfEfsaXXViRQA2zkQNXV7SfGn3WTZCqIGzfLp2PXp4fYZBCBq3Eg4VmlI7NtQZDZD&center=28.3852377,-81.566068&fields=name,context,link&type=place
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-App-Usage:
      - '{"call_count":3,"total_cputime":4,"total_time":2}'
      Facebook-Api-Version:
      - v2.9
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"8f9af8e6a9c57edde058f30e749e8857c71e87e4"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"name":"Epcot - Walt Disney World","context":{"friends_who_like":{"data":[],"summary":{"social_sentence":"0
        of your friends like this.","total_count":0}},"id":"b3Blbl9ncmFwaF9jb250ZAXh0OjE1Njg5Mzk0NDM3MDkyNAZDZD"},"link":"https:\/\/www.facebook.com\/Epcot-Walt-Disney-World-156893944370924\/","id":"156893944370924"},{"name":"Disney''s
        Magic Kingdom","context":{"friends_who_like":{"data":[],"summary":{"social_sentence":"0
        of your friends like this.","total_count":0}},"id":"b3Blbl9ncmFwaF9jb250ZAXh0OjE1ODIzMjE5MDg1ODM2OAZDZD"},"link":"https:\/\/www.facebook.com\/Disneys-Magic-Kingdom-158232190858368\/","id":"158232190858368"},{"name":"Orange
        County, Florida Government","context":{"friends_wh[...]
